In [6]:
a,b,c,d = map(int, input().split())

print(a+b+c+d)

16

In [5]:
i = 1
total = 0

while i <= 4:
    a = float(input())
    total += a
    i += 1

print(total)

16.0

In [ ]:
total = 1
i = 1
n = int(input())

while i <= n:
    a = float(input())
    total *= a
    i += 1

print(total)

In [8]:
import math

n = int(input("정수를 입력하여라: "))

for i in range(n+1):
    print(math.sqrt(i))

0.0
1.0
1.4142135623730951
1.7320508075688772
2.0
2.23606797749979
2.449489742783178
2.6457513110645907
2.8284271247461903
3.0

In [11]:
n = int(input())

total = 0

for i in range(n):
    N = int(input())
    total += N
if n == 0:
    print('입력된 정수가 없습니다.')
else:
    avg = total/n
    print(avg)

입력된 정수가 없습니다.

In [2]:
a = 1
i = 5

while i < 7:
    for j in range(1, 5, 2):
        a = a * j + i
    i += 1

print(a)

93

In [1]:
for i in range(1,10):
    for j in range(1,10):
        print(i,'x', j, '=', i*j, end = '\t')
    print()

1 x 1 = 1	1 x 2 = 2	1 x 3 = 3	1 x 4 = 4	1 x 5 = 5	1 x 6 = 6	1 x 7 = 7	1 x 8 = 8	1 x 9 = 9
2 x 1 = 2	2 x 2 = 4	2 x 3 = 6	2 x 4 = 8	2 x 5 = 10	2 x 6 = 12	2 x 7 = 14	2 x 8 = 16	2 x 9 = 18
3 x 1 = 3	3 x 2 = 6	3 x 3 = 9	3 x 4 = 12	3 x 5 = 15	3 x 6 = 18	3 x 7 = 21	3 x 8 = 24	3 x 9 = 27
4 x 1 = 4	4 x 2 = 8	4 x 3 = 12	4 x 4 = 16	4 x 5 = 20	4 x 6 = 24	4 x 7 = 28	4 x 8 = 32	4 x 9 = 36
5 x 1 = 5	5 x 2 = 10	5 x 3 = 15	5 x 4 = 20	5 x 5 = 25	5 x 6 = 30	5 x 7 = 35	5 x 8 = 40	5 x 9 = 45
6 x 1 = 6	6 x 2 = 12	6 x 3 = 18	6 x 4 = 24	6 x 5 = 30	6 x 6 = 36	6 x 7 = 42	6 x 8 = 48	6 x 9 = 54
7 x 1 = 7	7 x 2 = 14	7 x 3 = 21	7 x 4 = 28	7 x 5 = 35	7 x 6 = 42	7 x 7 = 49	7 x 8 = 56	7 x 9 = 63
8 x 1 = 8	8 x 2 = 16	8 x 3 = 24	8 x 4 = 32	8 x 5 = 40	8 x 6 = 48	8 x 7 = 56	8 x 8 = 64	8 x 9 = 72
9 x 1 = 9	9 x 2 = 18	9 x 3 = 27	9 x 4 = 36	9 x 5 = 45	9 x 6 = 54	9 x 7 = 63	9 x 8 = 72	9 x 9 = 81

In [3]:
total = 0
n = 1

while n <= 100:
    total += n
    n += 1

print(total)

5050

In [4]:
total = 0

for n in range(1, 101):
    total += n

print(total)

5050

In [ ]:
count_a = 0

for n in range(10):
    a,b = int(input().split())
    if a > b:
        count_a += 1

print(count_a, 10 - count_a)

In [6]:
for x in range(-20, 21):
    for y in range(-20, 21):
        if x**2 + 6 * y**2 == 6:
            print(x, y)

0 -1
0 1

In [ ]:
max_w = 0

for _ in range(10):
    w = int(input())
    if w > 100 or w < 0:
        w = int(input())
    else:
        if w > max_w:
            max_w = w

print(max_w)

In [ ]:
planet = {}
max_v = -274

k,v = input().split()
planet['k'] = v

if k == 'STOP':

In [10]:
def display(color):
    msg = '무지게에 ' + color + '이 있다.' 
    return msg

print(display('빨간색'))

무지게에 빨간색이 있다.